$tablet-version: "only screen and (max-width:calc(950 / 16 * 1rem))";
$mobile-version: "only screen and (max-width: calc(600 / 16 * 1rem))";
$iphoneSE-version: "only screen and (max-width: calc(320 / 16 * 1rem))";
